#header {
    width: 100%;
    min-height: 440px;
}

#header-body {
    height:440px;
    box-shadow: 0px 6px 9px -8px rgba(64, 64, 64, 1);
}

#header-body-fond {
    background:url('img/home.jpg');
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.60) 100%),
    url('img/home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.titrePays {
    font-weight: 700;
    font-size: 60px;
    padding-top: 10px;
    font-family: "Open Sans",Arial, sans-serif;
    margin-top: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.header-logo {
    float: left;
    position: relative;
    height: 240px;
    width: auto;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 50px;
    margin-right:50px;
}

.home {
    background-color: whitesmoke;
    box-shadow: 0px 6px 9px -8px rgba(64, 64, 64, 1);
    font-family: inherit;
}

.globe {
    background-color: rgba(103, 145, 179, 0.616);
    box-shadow: 0px 6px 9px -8px rgba(64, 64, 64, 1);
    font-family: inherit;
    text-align: justify;
}